server:
  port: 2333
  address: 0.0.0.0

lavalink:
  server:
    password: "yousetthepasswordhere"
    sources:
      youtube: true
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
    bufferDurationMs: 400
    frameBufferDurationMs: 1000
    youtubeConfig:
      clients: WEB
    playerUpdateInterval: 5

logging:
  file:
    path: ./logs/
  level:
    root: INFO
