server:
  port: 2333

lavalink:
  server:
    password: "youshallnotpass"
    sources:
      youtube: false
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true

logging:
  file:
    path: ./logs/

plugins:
  - dependency: "dev.lavalink.youtube:youtube-plugin:1.8.0"
    repository: "https://maven.lavalink.dev/releases"
